<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1" verbose="2">

    <test verbose="2" preserve-order="true" name="Chrome">
        <parameter name="browser" value="chrome" />
        <parameter name="url" value="https://kadam-admin-fe.web.app/" />
        <classes>
            <class name="org.kadam.SignInPageTest">
                <methods>
                    <include name="signInpageUI"/>
                    <include name="loginTestFlow"/>
                    <include name="loginRealFlow"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>